@model IEnumerable<ListingIndexViewModel>
@using Tehnicharche.ViewModels

@{
    ViewData["Title"] = "All Listings";
}

<div class="d-flex justify-content-between align-items-center mb-3">
    <h2>All Listings</h2>

    @if (User.Identity!.IsAuthenticated)
    {
        <div>
            <a class="btn btn-outline-success me-2"
               asp-action="MyListings">
                My Listings
            </a>

            <a class="btn btn-success"
               asp-action="Create">
                Create Listing
            </a>
        </div>
    }
    else
    {
        <p>Log in to create a listing</p>
    }
</div>


<div class="row">
    <div class="row">
        @foreach (var item in Model)
        {
            <partial name="_ListingIndexCardPartial" model="item" />
        }
    </div>
</div>