@model IEnumerable<Tehnicharche.ViewModels.ListingIndexViewModel>

@{
    ViewData["Title"] = "My listings";
}

<div class="d-flex justify-content-between align-items-center mb-3">
    <h2>My Listings</h2>

    <div>
        <a class="btn btn-outline-secondary me-2"
           asp-action="Index">
            Back to All
        </a>

        <a class="btn btn-success"
           asp-action="Create">
            Create Listing
        </a>
    </div>
</div>


@if (!Model.Any())
{
    <div class="alert alert-info">You have no listings yet.</div>
}
else
{
    <div class="row g-3">
        @foreach (var item in Model)
        {
            <partial name="_MyListingsCardPartial" model="item" />
        }
    </div>
}
