body {
    background-color: #f4fff7;
}

.navbar {
    background: linear-gradient(90deg, #157347, #198754);
}

.card {
    border-left: 5px solid #198754;
}

.btn-success {
    background-color: #198754;
    border-color: #157347;
}

    .btn-success:hover {
        background-color: #157347;
    }

.price-tag {
    font-weight: bold;
    color: #157347;
}

html, body {
    height: 100%;
}

body.d-flex {
    min-height: 100vh;
}

main.flex-grow-1 {
    flex: 1 0 auto;
}

.site-footer {
    border-top: 1px solid rgba(0,0,0,0.06);
}

.hero-section {
    position: relative;
    background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url("https://cdn.pixabay.com/photo/2014/09/20/13/52/board-453758_1280.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 50vh
}
