body {
    background-color: #f4fff7;
}

.navbar {
    background: linear-gradient(90deg, #157347, #198754);
}

.card {
    border-left: 5px solid #198754;
}

.btn-success {
    background-color: #198754;
    border-color: #157347;
}

    .btn-success:hover {
        background-color: #157347;
    }

.price-tag {
    font-weight: bold;
    color: #157347;
}
